<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>QUICK LINKS</h2>



<ul>
  <li>
    <a routerLink="/" class="nav-link " routerLinkActive="active">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
  </li>


  <li>
    <a routerLink="login" class="nav-link " routerLinkActive="active">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span> LOGIN</a>
  </li>
</ul>

<hr>
<router-outlet></router-outlet>